<div id='controls'>
  <input id='poster' type="text">
  <button id='btn'>Find Posts By</button>
</div>

<div id='posts'>
  <h3>These are some wonderful posts from our users:</h3>
  <% @posts.each do |p| %>
    <p class=<%= p.user.name %> >"<%= p.content %>" - posted by <%= p.user.name %></p>
  <% end %>
</div>

<div id='realquote'>
  <%= @rdmquote %>
</div>
